
#dropdown{
    width: 30px;
    height: 30px;
}
 #topselection{
    display: flex;
    align-items: center;
    gap : 75%;
    background-color: rgb(101,161,91);
    color: white;
    padding-left: 5%;
 }
 #end{
    display : flex;
    align-items: center;
 }
 .drop{
    width: 20px;
 }
 #a{
   align-items: center;
   gap: 20px;
 }
 .icon{
   width: 30px;
 }
 #navbar{
   display: flex;
   align-items: center;
   gap: 25%;
   padding-left: 5% ;
   padding-right: 5%;
 }
 #collection{
     border: 1px solid ; 
     width: fit-content; 
     text-align: center;
     background-color: rgb(218,217,222);
 }
 #summer{
  height: 500px;
  width: 750px;
 }
 #plants{
  gap: 30%;
  display: flex;
  padding: 1%;
  width: 800px;
  border: 1px solid;
  padding-left: 20px;
 }
 #parentplant{
    display: flex ;
    gap: 10%;
    padding-left: 50px;
    padding-top: 50px;
 }
.s{
  color:  rgb(101,161,91);
}
#plants2{
  gap: 30%;
  display: flex;
  padding: 1%;
  width: 800px;
  border: 1px solid;
  padding-top: 50px;
  padding-left: 20px;
 }
 #plant{
  display: flex;
  flex-direction: column;
  gap: 5%;
 }
 .b{
  color: grey;
 }
 #c{ 
     font-style: italic;
 }
 #b{
  display: flex;
  height: 200px;
  gap: 10px;
 }
 #section{
  display: flex;
  gap: 10%;
  padding : 100px;
  height: 400px;
 }
#words{
  display:flex;
  border: 1px solid;
  align-items: center;
  text-align: center;
  padding-left: 600px;
  gap: 8%;
}
#icon{
  gap: 20px;
}
#price{
  display: flex;
  gap: 10px;
  margin-left: 60px;

}
#div1{
  display: flex;
  border: 1px solid;
  width: fit-content;
  margin-left: 100px;
}
 #div{
  align-items: center;
  text-align: center;
  border: 1px solid;
 }
#drift{
  width: 650px;
  height: 650px;

}
#div2{
  display: flex;
  gap: 100px;
  padding: 100px;
}
#shop{
  width: 200px;
  padding: 15px;
  border-radius: 5px;
  background-color:  rgb(101,161,91);
  border: 1px solid  rgb(101,161,91);
  color: white;
}
#div3{
  width: fit-content;
  align-items: center;
}
#feature{
  text-align: center;
}
#tree{
  height: 600px;
  width: 700px;
}
#treinfo{
   display: flex;
   gap: 10%;
  padding: 100px;
}
.div4{
  display: flex;
  gap: 10px;
  align-items: center;
}
#section1{
   text-align: center;
   border: 1px solid;
}
#div4{
  display: flex;
  gap: 10px;
  padding-left: 47%;
  align-items: center;
  height: 120px;
}
.div5{
  display: flex;
  gap: 10px;
  align-items: center;
}
.aliquam{
  width: 250px;
  height: 270px;
}
.div6{
  width: 300px;
  height: 350px;
  border: 1px solid;
  padding: 10px;
}
.div7{
  display: flex;
  margin-left: 200px;

}
#section2{
  display: flex;
  padding: 100px;
  gap: 300px;
  border: 1px solid;
  align-items: center;
}
#cactustree{
  width: 800px;
}
#urban{
  width: 30px;
}
.urban{
  width: 300px;
  height: 350px;
}
#urbans{
  display: flex;
  gap: 7%;
  margin-left: 250px;
  padding: 50px;
  
}
#last{
  display: flex;
  gap: 10%;
  margin-left: 10%;
}
.clients{
  width: 150px;
  height: 170px;
  border-radius: 20px;
}
#client{
  width: 200px;
  border-radius: 20px;
}
#footer{
  display: flex;
}
#christina{
  border: 1px solid;
  align-items: center;
  
}